@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, retro;
}

@theme {
  --color-point: #fffd21;
  --color-point-hover: #ffd600;
  --color-point-active: #ffb300;
  --spacing: 1px;
}

#root {
  width: 100%;
  height: 100%;
}
